* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    --brownish-white: rgba(235, 227, 157, 0.795);
    --light-brownish-white: rgba(238, 236, 216, 0.959);
    --white: rgb(255, 255, 255); 
    --nav-bar-black: rgba(14, 13, 13, 0.938);
}

img {
    max-width: 100%;
    display: block;
}

/* ================= 
    TYPOGRAPHY
   ================= */

.nav-bar {
    font-size: 0.65rem;
    margin: 0;
    padding: 1.5em 0em;
    background: var(--nav-bar-black)
}

main {
    margin: 0;
}

footer {
    margin: 0;
    background-color: var(--nav-bar-black);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1.5em;
}

h1,
h3 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}

h3 {
    font-size: 1.125rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.nav-bar-links,
.logo-section {
    margin: 0;
    padding: 0.75em .5em;
}

.nav-bar-links,
.icons-list {
    list-style-type: none;
}

.nav-bar li {
    margin: 0;
    margin-right: 1em;
}

.nav-bar li:last-child {
    margin-right: 0;
}

.nav-bar a,
.icons-list a,
.portfolio-navigation a {
    text-decoration: none;
    color: var(--brownish-white);
    font-weight: 700;
    text-transform: uppercase;
}

.nav-bar a {
    letter-spacing: 1px;
}

.nav-bar-links a:hover, 
.nav-bar-links a:focus, 
.contact-text h3 {
    color: var(--white);
    border-bottom: 3px solid var(--white);
    padding-bottom: .35em;
}

.logo-section a {
    color: var(--white);
    font-size: .75rem;
}



@media (min-width: 575px) {
    body {
        font-size: 1.75rem;
    }

    h1 {
        font-size: 2.125rem;
    }
    
    .container {
        max-width: 775px;
    }

    .nav-bar-links li {
        margin-left: 2em;
    }

    .nav-bar a {
        letter-spacing: 2px;
    }

    .intro p {
        font-size: 1rem;
    }
    
}


/* ---------------
    MAIN CONTENT
   --------------- */

/* --- INTRO --- */

.intro {
    color: var(--white);
    text-align: center;
}

/* .intro h1 {
    margin: auto;
} */

.intro  p {
    font-family: 'URW Palladio L', 'aakar', sans-serif;
    font-weight: 600;
    /* margin: auto; */
}

@media (min-width: 575px) {
    
}

/* --- ABOUT ME --- */

.about-me {
    padding: 2em 1em;
    margin: 0;
    background-color: #ffa51d;
}




/* --- PORTFOLIO --- */

.portfolio {
    margin: 2em 0em;
}

.portfolio-navigation {
    background: var(--nav-bar-black);
    margin: 0 auto;
}

.portfolio-navigation a {
    font-size: .75rem;
    padding: 1em;
    color: var(--brownish-white);
    text-transform: capitalize;
}

.portfolio-navigation a:hover,
.portfolio-navigation a:focus,
.portfolio-navigation a:active,
.active {
    color: var(--white);
}

.portfolio-item img {
    image-rendering: optimizeQuality;
}

@media (min-width: 575px) {
    .portfolio-navigation a {
        font-size: 1rem;
    }
}




/* --- CONTACT --- */

.contact {
    padding: 3.5em 0em;
    text-align: center;
}

.contact-text h3 {
    display: inline-block;
    font-size: 1.35rem;
    padding-bottom: .1em;
}

.contact-text p {
    line-height: 1.35;
    margin: .5em 0;
    color: var(--white);
}

.contact-form {
    max-width: 420px;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.795);
    box-shadow: 0px 0px 5px 2px black;
}

.contact-form {
    margin-top: 1.5em;
}

input,
textarea {
    border: 2px solid black;
    border-radius: 8px;
    padding: .5em;
    font-family: inherit;
    background-color: rgba(37, 37, 37, 0.534);
    color: white;
    font-weight: 400;
    line-height: 1.6;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    outline: none;
}

.btn {
    color: var(--white);
    padding: .65em 1.65em;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    max-width: 100px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    background-color: rgba(85, 83, 83, 0.747);
    cursor: pointer;
    text-transform: uppercase;
}

.submit {
    margin-top: 1em;
    background-image: linear-gradient(to left, #ff723a, #ffa51d);
    transform: scale(1);
    transition: transform 250ms;
    
}

.submit:hover, 
.submit:focus {
    transform: scale(1.15);
}

@media (min-width: 575px) {
    .contact-form {
        padding: 2em 1em;
    }

    .contact-text h3 {
        font-size: 1.75rem;
        padding-bottom: .1em;
    }

    .contact-text p {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
}



/* ---------------
    FOOTER
   --------------- */

footer * {
    margin: 0;
}

.icons-list a {
    color: inherit;
}

.icons-list a:hover,
.icons-list a:focus {
    color: rgba(238, 111, 227, 0.575);
}

.credits p {
    margin-top: .5em;
    font-size: 1rem;
}

@media (min-width: 575px) {
    footer {
        font-size: 1.75rem;
    }
    
    .credits {
        flex-direction: row;
        justify-content: center;
    }

    .credits p {
        font-size: 1.25rem;
    }
}






/* ===============
    LAYOUT
   =============== */

.flex {
    display: flex;
    justify-content: space-between;
}

.intro, 
.contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(22, 22, 22, 0.493);
    background-blend-mode: multiply; 
}

.intro {
    background-image: url("../images/computer-screens.jpg");
    height: calc(100vh - 3.95rem);
}

.intro .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.portfolio-navigation {
    justify-content: flex-start;
    
}

.portfolio-navigation a {
    display: block;
}

.contact {
    background-image: url("../images/dice.jpg");
    background-color: rgba(32, 32, 32, 0.61);
}

.contact-form {
    flex-direction: column;
    
}

.icons-list {
    justify-content: space-around;
}

.credits {
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 575px) {
    .intro .flex {
        flex-direction: row;
    }

    .intro h1 {
        max-width: 300px;
    }

    /* .intro h1::after {
        content: '|';
        left: 100px;
    } */

    .credits {
        flex-direction: row;
        justify-content: center;
    }

    .credits p {
        margin-right: 1.75em;
    }
}