* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    margin: 0;
    font-family: 'Ubuntu';
}

img {
    max-width: 100%;
}

/* ================= 
    TYPOGRAPHY
   ================= */

.nav-bar {
    font-size: 0.65rem;
    margin: 0;
    padding: 1.5em 0em;
    background: rgba(14, 13, 13, 0.938);
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: White;
    text-transform: uppercase;
    font-weight: 700;
}

footer {
    margin: 0;
    background-color: black;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.nav-bar-links,
.logo-section {
    margin: 0;
    padding: 0.75em .5em;
}

.nav-bar-links,
.icons-list {
    list-style-type: none;
}

.nav-bar li {
    margin: 0;
    margin-right: 1em;
}

.nav-bar li:last-child {
    margin-right: 0;
}

.nav-bar a,
.icons-list a {
    text-decoration: none;
    color: rgba(235, 227, 157, 0.795);
    font-weight: 700;
    text-transform: uppercase;
}

.nav-bar-links a:hover, 
.nav-bar-links a:focus {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: .25em;
}

.logo-section a {
    color: rgba(238, 236, 216, 0.959);
}

.icons-list a {
    color: black;
}

.icons-list {
    padding: 0;
}

@media (min-width: 575px) {
    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }
    
    .container {
        max-width: 775px;
    }

    .intro p {
        font-size: 1rem;
    }
    
}


/* ---------------
    MAIN CONTENT
   --------------- */
.intro {
    color: white;
    padding: 13em 0em;
    text-align: center;
}

.intro  p {
    font-family: 'Lora', sans-serif;
}



/* ===============
    LAYOUT
   =============== */

.flex {
    display: flex;
    justify-content: space-between;
}

.intro {
    background-image: url("../images/basketball2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(59, 58, 58, 0.568);
    background-blend-mode: multiply; 
    height: 90vh;
}

.icons-list {
    justify-content: space-around;
}

