* {
    box-sizing: border-box;
}

:root {
    --brownish-white: rgba(235, 227, 157, 0.795);
    --light-brownish-white: rgba(238, 236, 216, 0.959);
    --white: rgb(255, 255, 255);
    --nav-bar-black: rgba(14, 13, 13, 0.938);
    --nav-bar-purple: rgba(39, 0, 39, 0.87);
    --circles-c: rgb(255, 255, 255); 
    --about-bg: rgba(25,50,76,1);
    --white-gn: rgba(56, 185, 1, 0.959);
    --portfolio-bg: rgba(13, 25, 38, 1);
    --light-gray: rgba(207, 206, 186, 0.151);
    /* animation */
    --expand: expand;
}

body {
    font-size: 1rem;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    position: relative;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    height: 100%;
    width: 100%;
}

main {
    color: var(--white);
    grid-row: 2 / 3;
    margin: 0;
}

footer {
    grid-row: -2 / -1;
    margin: 0;
    background-color: var(--nav-bar-black);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1.85em;
}

img {
    width: 100%;
    display: block;
}

.btn {
    color: var(--white);
    padding: .65em 1.65em;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    background-color: rgba(92, 91, 91, 0.747);
    background-image: linear-gradient(to left, #ff723a, #ffa51d);
    cursor: pointer;
    text-transform: uppercase;
}

/* ================= 
    TYPOGRAPHY
   ================= */

.nav-bar {
    font-size: 0.65rem;
    margin: 0;
    padding: 1.5em 0em;
    background: var(--nav-bar-black);
}

h1, h3 {
    margin: 0;
    font-size: 1.35rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-size: 1.125rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.fullNav {
    position: fixed;
    z-index: 100;
}

.nav-bar-links, .logo-section {
    margin: 0;
    padding: 0.75em .5em;
    border: none;
}

.nav-bar-links, .icons-list {
    list-style-type: none;
}

.nav-bar a, 
.link,
.icons-list a, 
.nav-bar-about, 
.portfolio-navigation li {
    text-decoration: none;
    color: var(--brownish-white);
    font-weight: 700;
    text-transform: uppercase;
    transition: 300ms;
}

.nav-bar a, .nav-bar-about {
    letter-spacing: 1.5px;
}

.link:hover, 
.link:focus {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding-bottom: .25em;
}

.nav-bar-about:hover, 
.nav-bar-about:focus {
    color: var(--white);
    cursor: pointer;
}

.nav-bar-about li {
    padding: .5em .5em 0;
}

.nav-bar-about-nav {
    padding: .35em 1em 1em;
}

.nav-bar-about-nav .link {
    font-size: 0.45rem;
}

.logo-section a,
.slider {
    color: var(--white);
    font-size: .75rem;
}

.slider.flex {
    gap: 1em;
}

#setting-top,
#setting-bottom {
    letter-spacing: 2px;
    cursor: pointer;
}

@media (min-width: 575px) {
    body {
        font-size: 1.75rem;
    }

    h1 {
        font-size: 2.125rem;
    }

    .container {
        max-width: 820px;
    }

    .nav-bar-links li {
        margin-left: 2em;
    }

    .nav-bar-about-nav li {
        margin: 0;
    }

    .nav-bar a {
        letter-spacing: 2px;
    }

    .intro p {
        font-size: 1rem;
    }
}

@media (min-width: 475px) {
    body {
        font-size: 18.4px;
    }
}

@media (min-width: 750px) {
    body {
        font-size: 21.6px;
    }
}

/* ---------------
    MAIN CONTENT
   --------------- */

/* --- INTRO --- */

.intro {
    color: var(--white);
    text-align: center;
}

.intro h1 {
    border-bottom: 1px solid white;
    padding-bottom: .5em;
    display: inline;
    opacity: .75;
}

.intro p {
    letter-spacing: 1px;
    margin: .5em 0;
    font-size: 1rem;
    opacity: .85;
    max-width: 275px;
    font-weight: 400;
}



/* --- ABOUT ME --- */

.about {
    padding: 1.35em 0;
    margin: 0;
    background-color: var(--about-bg);
    color: var(--white);
}

.about-me-title {
    margin: 1em 0;
    font-size: 1.35rem;
    position: relative;
}

.about-me-title::after,
.about-me h3::before, 
.about-me h3::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    background-color: rgb(59, 89, 141);
    /* background-color: rgb(255, 255, 255); */
}

.about-me-title::after {
    width: 50vw;
    left: 110px;
    top: -15px;
}

.about-me-text,
.services-list {
    opacity: 0.8;
    color: var(--white);
    letter-spacing: 1px;
    font-size: 0.95rem;
}

.about-me-skills-container {
    background-color: var(--light-gray);
    border-radius: 7px;
    padding: 1em;
    margin-top: 1.35em;
}

.about-me h3 {
    color: var(--white);
    opacity: 0.65;
    text-transform: capitalize;
    margin: 1em auto 2em;
    font-size: 1.1rem;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    position: relative;
}

.about-me h3::before,
.about-me h3::after {
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
}

.about-me h3::before {
    margin-bottom: 0.75em;
}

.about-me h3::after {
    margin-top: 0.75em;
}

.about-me-skills {
    margin: 0 auto;
}

.main-circle {
    margin-bottom: 1em;
}

.skill-img {
    width: 3em;
    height: 3em;
    margin: 0 auto;
}

.about-services .services-list {
    list-style-type: square;
    margin: 0;
}

.wave-border {
    margin: 0;
    padding: 0;
}

.wave-1 {
    background-color: var(--portfolio-bg);
}

.wave-2 {
    background-color: var(--about-bg);
}

@media (min-width: 425px) {
    .about-me h3 {
        font-size: 1.12rem;
    }
}

@media (min-width: 475px) {
    .about-me-text,
    .services-list {
        font-size: 1.1rem;
    }
}

@media (min-width: 778px) {
    .about-me-title::after {
        width: 350px;
    }
}


/* --- PORTFOLIO --- */

.portfolio {
    background-color: var(--portfolio-bg);
    color: var(--white);
    margin: 0;
    padding: 2em 0 1em;
}

.portfolio-navigation {
    margin: 0 auto;
    margin: 1em;
}

.portfolio-navigation li {
    font-size: .775rem;
    padding: 1em;
    color: var(--brownish-white);
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1px;
}

.portfolio-item {
    margin-bottom: 2.75em;
    padding-bottom: 1em;
    background-color: var(--light-gray);
    padding: 2.5em 1.5em;
    border-radius: 10px;
    opacity: 0.65;
    transition: 300ms;
}

.portfolio-item:hover {
    box-shadow: 0px 0px 10px 0px black;
}

.portfolio-item:hover, 
.portfolio-item:focus {
    opacity: 1;
}

.portfolio-item:first-child {
    margin-top: .175em;
}

.portfolio img {
    height: 11.75em;
    object-fit: cover;
    object-position: center bottom;
    -o-object-fit: cover;
    -o-object-position: center bottom;
    border-radius: .5em;
}

.date {
    font-size: .65rem;
    margin-top: .7em;
    font-weight: 700;
    font-style: italic;
    opacity: 0.67;
    letter-spacing: 2px;
}

.portfolio-item-decription-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: .95rem;
    margin: 0 0 1rem;
    letter-spacing: 1px;
    opacity: 0.65;
    text-shadow: 0px 0px 1px black;
    word-wrap: break-word;
}

.portfolio-item-decription-text a {
    text-decoration: none;
    color: var(--white-gn);
    font-weight: 700;
    transition: 300ms;
}

.portfolio-item-decription-text a:hover {
    color: var(--brownish-white);
}

.code-btn {
    background-image: none;
}

.code-btn, .deployment-btn {
    margin: 0 4.5em 0 0;
    width: fit-content;
    font-size: .55rem;
    color: var(--nav-bar-purple);
    text-decoration: none;
    transform: scale(1);
    transition: 300ms;
}

.code-btn:hover, .deployment-btn:hover {
    transform: scale(1.075);
    color: var(--white);
}

@media (min-width: 424px) {
    .code-btn, .deployment-btn {
        font-size: .65rem;
    }
}

@media (min-width: 475px) {
    .date {
        font-size: .85rem;
    }

    .portfolio-item-decription-text {
        font-size: 1.15rem;
    }
}

@media (min-width: 500px) {
    .portfolio-item {
        padding: 1.75em 1.5em;
        border-radius: .5em;
    }

    .portfolio-item-decription-text {
        font-size: 1.1rem;
    }

    .code-btn, .deployment-btn {
        font-size: .75rem;
    }
}

@media (min-width: 575px) {
    .portfolio-navigation a {
        font-size: 1rem;
    }
}

/* --- CONTACT --- */

.contact {
    padding: 3.5em 0em;
    background-color: var(--about-bg);
}

.contact-t::after {
    left: 130px;
}

.contact-text {
    line-height: 1.35;
    margin: .5em 0;
    color: var(--white);
    text-align: center;
}


.contact-btn {
    display: block;
    text-decoration: none;
    max-width: 100px;
    margin-top: 1em;
    transform: scale(1);
    transition: 300ms;
    font-size: 0.65rem;
    color: var(--about-bg);
    text-align: center;
}

.contact-btn:hover, .contact-btn:focus {
    transform: scale(1.1);
    color: var(--white);
}

@media (min-width: 575px) {
    .contact-text {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
}

/* ---------------
    FOOTER
   --------------- */

footer * {
    margin: 0;
}

.icons-list {
    margin-bottom: 1.5em;
}

.icons-list a {
    color: inherit;
}

.icons-list a:hover, .icons-list a:focus {
    color: rgba(238, 111, 227, 0.575);
}

.credits p {
    font-size: 1rem;
}

@media (min-width: 575px) {
    footer {
        font-size: 1.75rem;
    }
    .credits p {
        font-size: 1.25rem;
        margin-right: 1.75em;
    }
}

/* ===============
    LAYOUT
   =============== */

.flex {
    display: flex;
    justify-content: space-between;
}

.nav-bar .flex {
    align-items: baseline;
}

#close-slider,
#setting-bottom {
    display: none;
}

.intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(22, 22, 22, 0.493);
    background-blend-mode: multiply;
}

.intro {
    background-image: url("../images/computer-screens.jpg");
    height: calc(100vh - 3.95rem);
}

.intro .flex,
.about-me-skills .flex,
.nav-bar-links .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-bar-links .flex > li {
    margin-top: 2em;
}

.nav-bar {
    position: relative;
}

.nav-bar-links {
    display: none;
    z-index: 5;
    left: 0;
    position: absolute;
    width: 100%;
    height: calc(100vh - 3.125rem);
    background-color: var(--nav-bar-black);
}

.in {
    animation: expand 300ms ease;
}

.out {
    animation: hide 300ms ease;
    display: none;
}

@keyframes expand {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.about-me-skills .flex {
    flex-direction: row;
    flex-wrap: wrap;
}

.main-circle {
    flex-basis: 25%;
}

.portfolio-navigation {
    justify-content: flex-start;
}

.portfolio-navigation a,
.nav-bar-about:hover .nav-bar-about-nav, 
.nav-bar-about:focus .nav-bar-about-nav {
    display: block;
}

#p-websites, #p-games, 
.portfolio-item-decription, 
.credits {
    flex-direction: column;
}

.nav-bar-about-nav {
    display: none;
    position: relative;
    background-color: var(--nav-bar-black);
    transition: all 3s;
}

.portfolio-navigation.flex {
    flex-wrap: wrap;
}

.game {
    display: none;
}

.portfolio-item img {
    box-shadow: 0px 0px 2px 1px black;
}

.portfolio-item-decription-btns {
    justify-content: flex-start;
}

.contact-btn:hover, .contact-btn:focus {
    transform: scale(1.1);
}

.icons-list, .credits {
    justify-content: space-around;
}

@media (min-width: 350px) {
    .credits {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 575px) {
    .intro .flex {
        flex-direction: row;
    }
    
    .intro h1 {
        width: 45%;
        border-bottom: none;
        border-right: 1px solid var(--white);
        padding: 0 .5em;
    }

    .intro p {
        max-width: 55%;
        padding: 0 .65em 0 2em;
    }
    
    .credits {
        justify-content: center;
    }
}

@media (min-width: 425px) and (max-width: 601px) {
    .portfolio img {
        height: 13.75em;
    }
}

@media (min-width: 602px) {
    .main-circle {
        flex-basis: 15.67%;
    }    

    .portfolio img {
        height: 17.5em;
    }
}

@media (min-width: 726px) {

    .nav-bar-links .flex > li {
        margin-top: 0;
    }

    .nav-bar li {
        margin: 0;
        margin-right: 2em;
    }
    
    .nav-bar li:last-child {
        margin-right: 0;
    }

    .nav-bar .container {
        display: flex;
    }

    .logo-section {
        justify-content: center;
    }

    .slider {
        display: none;
    }

    .nav-bar-links {
        display: block;
        background-color: inherit;
        position:relative;
        height: 100%;
    }

    .nav-bar-links .flex {
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
    }

    #setting-bottom {
        display: block;
    }

    .nav-bar-about-nav {
        position: absolute;
    }
}