* {
    box-sizing: border-box;
    transition: 300ms;
}

:root {
    --dark-blue: rgba(13, 25, 38, 1);
    --light-blue: rgba(25,50,76,1);
    --light-blue-skl: rgba(59, 89, 141, 0.144);
    --brownish-white: rgba(235, 227, 157, 0.795);
    --brownish-white-nh: rgba(235, 227, 157);
    --light-brownish-white: rgba(238, 236, 216, 0.959);
    --nav-bar-black: rgba(14, 13, 13, 0.938);
    --nav-bar-black-light: rgb(27, 27, 27);
    --nav-bar-purple: var(--portfolio-bg);
    --white-gn: rgba(56, 185, 1, 0.959);
    --light-gray: rgba(207, 206, 186, 0.062);
    --white: rgb(255, 255, 255);
    --nav-txt-col: var(--brownish-white);
    --article-bg: var(--portfolio-bg);
    --nav-bg: var(--nav-bar-black);
    --about-bg: var(--light-blue);
    --portfolio-bg: var(--dark-blue);
    --skills-bg: var(--light-gray);
    --footer-bg: var(--nav-bar-black);
    --footer-txt-col: rgba(255, 255, 255, 0.8);
    --setting-bg: var(--nav-bar-black-light);
    --code-bg: rgb(255, 255, 255);
    --ds-txt: .85rem;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    position: relative;
}

header {
    height: 100%;
    width: 100%;
}

main {
    color: var(--white);
    margin: 0;
}

footer {
    margin: 0;
    background-color: var(--footer-bg);
    color: var(--footer-txt-col);
    text-align: center;
    padding: 1.85em;
}

h1, h3 {
    margin: 0;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1rem;
}

ul {
    padding: 0;
    list-style-type: none;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.btn {
    color: var(--white);
    padding: .65em 1.65em;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    background-color: var(--code-bg);
    background-image: linear-gradient(to left, #ff723a, #ffa51d);
    cursor: pointer;
    text-transform: uppercase;
}

/* ================= 
    NAV BAR
   ================= */

.nav-bar {
    font-size: 0.65rem;
    margin: 0;
    padding: 1.5em 0em;
    background: var(--about-bg);
    position: relative;
}

.nav-bar .container {
    position: relative;
}

.nav-bar-links, .logo-section {
    margin: 0;
    padding: 0.75em .5em;
    border: none;
}

.nav-bar-links .flex > li {
    margin-top: 2em;
}

.nav-bar-links {
    --nav-bg: var(--portfolio-bg);
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    max-width: 200px;
    right: 0;
    height: fit-content;
    background-color: var(--nav-bg);
    padding: 0 0 2em;
    box-shadow: 0px 0px 3px 0.2px black;
}

.nav-bar a, 
.link,
.icons-list a, 
.nav-bar-about, 
.portfolio-navigation li {
    text-decoration: none;
    color: var(--nav-txt-col);
    font-weight: 700;
    text-transform: uppercase;
}

.link,
#abt-txt {
    font-size: 0.55rem;
    cursor: pointer;
}

.nav-bar a, .nav-bar-about {
    letter-spacing: 1.5px;
}

.link:hover, 
.link:focus,
#abt-txt:hover, 
#abt-txt:focus,
.col-1:hover,
.col-1:focus {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding-bottom: .25em;
}

.nav-bar-about:hover, 
.nav-bar-about:focus {
    color: var(--white);
    cursor: pointer;
}

.nav-bar-about li {
    padding: .5em .5em 0;
}

.nav-bar-about-nav {
    margin-top: 0.35em;
    padding: .35em 1em 1em;
    display: none;
    position: relative;
    background-color: var(--setting-bg);
    transition: all 3s;
    box-shadow: 0px 0px 5px 0.2px black;
}

.nav-bar-about-nav .link {
    font-size: 0.45rem;
}

.logo-section a,
.slider {
    color: var(--white);
    font-size: .85rem;
}

.slider.flex {
    gap: 1em;
}

#close-slider,
#setting-bottom {
    display: none;
}

#setting-top,
#setting-bottom {
    letter-spacing: 2px;
    cursor: pointer;
}

#setting-top {
    margin-left: 0.8em;
}

.setting-top-c,
#setting-bottom {
    position: relative;
}

.setting-top-nav,
.setting-bottom-nav {
    display: none;
    position: absolute;
    background-color: var(--setting-bg);
    color: var(--brownish-white);
    z-index: 500;
    padding: 2em 2em 1em;
    right: 0;
    box-shadow: 0px 0px 5px 0.2px black;
    cursor: default;
}

.setting-title {
    margin-bottom: 0.75em;
    display: block;
    color: var(--nav-txt-col);
    text-transform: uppercase;
    font-size: 700;
    letter-spacing: 2px; 
    padding-bottom: 0.25em;
    border-bottom: 1.5px solid var(--white);  
}

.setting-bottom-btn {
    display: block;
}

.col-1 {
    margin: 0 0 0.35em 0 !important;
    letter-spacing: 1px;
    color: var(--nav-txt-col);
    font-size: 0.55rem;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.col-1:first-of-type:hover,
.col-1:first-of-type:focus,
.col-1:last-of-type:focus,
.col-1:last-of-type:hover {
    border-bottom: 1.5px solid var(--white);
    padding-bottom: .25em;
}

.col-2 {
    font-size: 0.45rem;
}

#setting-top,
.setting-bottom-i {
    transform: rotate(0deg);
}

#setting-top:hover,
#setting-top:focus,
.spin,
#setting-bottom:hover .setting-bottom-i,
#setting-bottom-i:focus .setting-bottom-i {
    animation: spin 10s linear infinite;
}



@media (min-width: 575px) {
    .nav-bar-about-nav li {
        margin: 0;
    }

    .nav-bar a {
        letter-spacing: 2px;
    }
}

@media (min-width: 475px) {
    html {
        font-size: 17.4px;
    }
}

@media (min-width: 750px) {
    html {
        font-size: 18.75px;
    }
}

@media (min-width: 1025px) {
    html {
        font-size: 20px;
    }
}

/* ---------------
    MAIN CONTENT
   --------------- */

/* --- INTRO --- */

.intro {
    height: calc(100vh - 3.95rem);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, var(--about-bg), var(--portfolio-bg) 50%, var(--about-bg) 50%);
}

.intro h1 {
    color: var(--white);
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-bottom: 0.25em;
}

.intro p {
    font-size: 0.75rem;
    margin: 0;
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
}



/* --- ABOUT ME --- */

.about {
    padding: 1.35em 0;
    margin: 0;
    background-color: var(--about-bg);
    color: var(--white);
}

.title {
    margin: 1em 0;
    font-size: 1.35rem;
    position: relative;
}

.title::after,
.about-me h3::before, 
.about-me h3::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    background-color: rgb(59, 89, 141);
}

.title::after {
    width: 50vw;
    left: 6.875rem;
    top: -0.9375rem;
}

.about-me-text,
.services-list {
    opacity: 1;
    color: var(--white);
    letter-spacing: 1px;
    font-size: var(--ds-txt);
}

.about-me-skills-container {
    background-color: var(--skills-bg);
    border-radius: 7px;
    padding: 1em;
    margin-top: 1.35em;
}

.about-me h3 {
    color: var(--white);
    opacity: 0.65;
    text-transform: capitalize;
    margin: 1em auto 2em;
    font-size: 1.1rem;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    position: relative;
}

.about-me h3::before,
.about-me h3::after {
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
}

.about-me h3::before {
    margin-bottom: 0.75em;
}

.about-me h3::after {
    margin-top: 0.75em;
}

.about-me-skills {
    margin: 0 auto;
}

.main-circle {
    margin-bottom: 1em;
    width: fit-content;
}

.skill-img {
    width: 3em;
    height: 3em;
    margin: 0 auto;
}

.skill-name {
    margin: 0.2em auto 0;
    font-size: var(--ds-txt);
    letter-spacing: 1px;
    opacity: 0.8;
}

.services-title::after {
    left: 5.75rem;
}

.about-services .services-list {
    list-style-type: square;
    margin: 0;
}

.wave-border {
    margin: 0;
    padding: 0;
}

.wave-1 {
    background-color: var(--portfolio-bg);
}

.wave-2 {
    background-color: var(--about-bg);
}

@media (min-width: 778px) {
    .title::after {
        width: 350px;
    }  
}


/* --- PORTFOLIO --- */

.portfolio {
    background-color: var(--portfolio-bg);
    color: var(--white);
    margin: 0;
    padding: 2em 0 1em;
}

.portfolio-title::after {
    left: 6.125rem;
}

.portfolio-navigation {
    margin: 0 auto;
    margin: 1em;
}

.portfolio-navigation li {
    font-size: .775rem;
    padding: 1em;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1px;
}

.portfolio-navigation a {
    display: block;
}

.portfolio-item {
    margin-bottom: 2.75em;
    box-shadow: 0px 0px 1px 0px black;
}

.portfolio-item:first-child {
    margin-top: .175em;
}

.game {
    display: none;
}

.portfolio-img {
    object-fit: cover;
    object-position: center bottom;
    filter: brightness(45%) grayscale(100%);
}

.portfolio-item:hover .portfolio-img,
.portfolio-item:focus .portfolio-img {
    filter: brightness(100%) grayscale(0%);
}

.portfolio-item-decription {
    padding: 2em 1.5em 2em;
    background-color: var(--light-gray);
}

.portfolio-item-decription-title {
    margin: 0 0 1em;
    letter-spacing: 1px;
}

.portfolio-item-decription-text,
.article-item-text,
.event-item-text {
    font-size: var(--ds-txt);
    margin: 0 0 1rem;
    letter-spacing: 1px;
    opacity: 0.8;
    text-shadow: 0px 0px 1px black;
    word-wrap: break-word;
}

.portfolio-item-decription-text a {
    color: var(--white);
    font-weight: 700;
}

.portfolio-item-decription-text a:hover {
    text-decoration: none;
}

.project-language-ul {
    font-size: 0.65rem;
    margin: 0 0 1em;
    letter-spacing: 2px;
    list-style-type: disc;
    list-style-position: inside;
}

.project-language-list {
    padding: 0 0.85em 0 0;
    color: var(--white);
    font-weight: 400;
}

.code-btn {
    background-image: none;
}

.code-btn, .deployment-btn {
    margin: 0 4.5em 0 0;
    width: fit-content;
    font-size: .55rem;
    color: var(--nav-bar-purple);
    text-decoration: none;
    transform: scale(1);
    transition: 300ms;
}

.code-btn:hover,
.code-btn:focus, 
.deployment-btn:hover,
.deployment-btn:focus {
    transform: scale(1.075);
}

.deployment-btn:hover,
.deployment-btn:focus {
    color: var(--white);
}



/* ---- ARTICLES ---- */

.article-c,
.event-c {
    background-color: var(--about-bg);
    padding: 2em 0;
}

.articles,
.events {
    margin: 1.75em 0;
    border-radius: 10px;
    max-width: 335px;
}

.articles-title::after {
    left: 5.4375rem;
}

.event-text,
.article-text {
    font-size: 0.85rem;
    letter-spacing: 1px;
}

.article-item-title,
.event-item-title {
    font-size: 0.9rem;
    margin: 1.5em 0;
    text-transform: capitalize;
    position: relative;
}

.article-item-description,
.event-item-description {
    padding: 1.25em;
    background-color: var(--article-bg);
    font-size: 0.775rem;
    letter-spacing: 2px;
}

.article-btn,
.gallery-btn {
    background-image: none;
    background-color: var(--article-bg);
    text-decoration: none;
    font-size: 0.65rem;
    padding-right: 0;
}

.article-btn:hover,
.article-btn:focus,
.gallery-btn:focus,
.gallery-btn:hover {
    text-decoration: underline;
}



/* ---- EVENTS ---- */
.event-c {
    padding-top: 0.1em;
}

.event-item-mini-title {
    font-size: 0.8rem;
    letter-spacing: 1.25px;
}

.event-text a {
    color: var(--white);
    font-weight: 400;
}

.event-text a:hover,
.event-text a:focus {
    text-decoration: none;
}

.event-item-image {
    width: 100%;
    object-fit: cover;
    object-position: right;
}

.event-title::after {
    left: 4.7rem;
}



/* --- CONTACT --- */

.contact {
    padding: 0.1em 0em 3.5em;
    background-color: var(--about-bg);
}

.contact-t::after {
    left: 7.9rem;
}

.contact-text {
    line-height: 1.35;
    margin: .5em 0;
    color: var(--white);
    text-align: center;
    font-size: var(--ds-txt);
    letter-spacing: 1px;
}


.contact-btn {
    display: block;
    text-decoration: none;
    max-width: 120px;
    margin-top: 1em;
    transform: scale(1);
    transition: 300ms;
    font-size: 0.65rem;
    color: var(--about-bg);
    text-align: center;
}

.contact-btn:hover, .contact-btn:focus {
    transform: scale(1.1);
    color: var(--white);
}




/* ---------------
    FOOTER
   --------------- */

footer * {
    margin: 0;
}

.icons-list {
    margin-bottom: 1.5em;
}

.icons-list a {
    color: inherit;
}

.credits p {
    font-size: var(--ds-txt);
    letter-spacing: 1px;
}




/* ===============
    UTILITY AREA
   =============== */

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-p {
    display: grid;
    grid-template: 12.5em auto / 100%;
    grid-template-areas: "image"
                         "description";
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.nav-bar .flex {
    align-items: baseline;
}

.intro .flex,
.about-me-skills .flex,
.nav-bar-links .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-me-skills .flex {
    flex-direction: row;
    flex-wrap: wrap;
}

.main-circle {
    flex-basis: 25%;
}

.portfolio-navigation {
    justify-content: flex-start;
}

#p-websites, #p-games, 
.portfolio-item-decription, 
.credits {
    flex-direction: column;
}

.portfolio-navigation.flex {
    flex-wrap: wrap;
}

.portfolio-item-img-container {
    grid-area: image;
}

.portfolio-item-decription {
    grid-area: description;
}

.project-language-ul.flex {
    justify-content: flex-start;
}

.portfolio-item-decription-btns {
    justify-content: flex-start;
}

.article-item-description.flex,
.event-item-description.flex {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.article-btn,
.gallery-btn {
    align-self: flex-end;
    margin: 0;
}

.icons-list, .credits {
    justify-content: space-around;
}

.in {
    animation: expand 300ms ease;
}

.out {
    animation: hide 300ms ease;
    display: none;
}

.el {
    color: var(--white);
}

.el-b {
    border: none;
}

.light {
    opacity: 1;
    box-shadow: 0px 0px 1px 0px black;
}

.el-g {
    color: var(--white-gn);
}

.light-f {
    background: rgb(238,236,216);
    background: linear-gradient(180deg, rgba(238,236,216,0.96) 0%, rgba(230, 219, 153, 0.795) 100%);
}

.dark-f {
    background: var(--nav-bar-black);
    background: linear-gradient(180deg, var(--about-bg) 0%, var(--nav-bar-black) 100%);
}

@keyframes expand {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 350px) {
    .credits {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 575px) {
    .intro .flex {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .credits {
        justify-content: center;
    }

    .credits p {
        margin-right: 1.75em;
    }
}

@media (min-width: 602px) {
    .main-circle {
        flex-basis: 15.67%;
    }  
    
    .flex-p {
        grid-template-rows: 13.5em auto;
    }
}

@media (min-width: 820px) {
    .nav-bar .container {
        display: flex;
        align-items: center;
    }

    .nav-bar-links .flex > li {
        margin-top: 0;
    }

    .nav-bar > li {
        margin: 0;
        margin-right: 2em;
    }

    .nav-bar-links li {
        margin-left: 2em;
    }
    
    .nav-bar li:last-child {
        margin-right: 0;
    }

    .nav-bar .container {
        display: flex;
    }

    .logo-section {
        justify-content: center;
    }

    .slider {
        display: none;
    }

    .nav-bar-links {
        display: block;
        background-color: inherit;
        position:relative;
        height: 100%;
        top: 0;
        padding-bottom: 0;
        box-shadow: none;
        max-width: 100%;
        right: none;
    }

    .nav-bar-links .flex {
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
    }

    #setting-bottom {
        display: block;
    }

    .nav-bar-about-nav {
        position: absolute;
    }
}

@media (min-width: 920px) {
    .portfolio-item {
        box-shadow: none;
        position: relative;
        padding-bottom: 2.75em;
        border-bottom: 1.5px dashed rgb(59, 89, 141);
    }

    .no-border {
        border: none;
    }

    .flex-p {
        grid-template: 260px / 47.5% 5% 47.5%;
        grid-template-areas: "image gap description";
    }

    .portfolio-item-decription {
        background-color: inherit;
        padding: 0;
    }

    .portfolio-item-decription-text {
        font-size: .75rem;
    }

    .project-language-ul {
        font-size: 0.53rem;
        margin-bottom: 2em;
    }

    .portfolio-item-decription-title {
        margin-top: 0;
    }
}